* ,::before , ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.health__bar__container {
    position: absolute;
    z-index: 5000;
    width: 40vw;
    top: 40px;
    left: 50px;

    display: flex;
    flex-direction: column;
}

.top {
    margin-bottom: 10px;
}

.max__health {
    width: 100%;
    background: linear-gradient(90deg, rgba(129,14,14,1) 0%, rgba(235,66,72,1) 35%, rgba(255,47,47,1) 100%);
    height: 20px;
    position: relative;
}

.bottom img {
    object-fit: cover;
    height: auto;
    width: 50px;
    float: left;
}

.health__bar__container#enemy {
    left: initial;
    right: 50px;
}

.health__bar__container#enemy img {
    float: right;
}

.current__health {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(67,227,85,1) 0%, rgba(66,235,116,1) 35%, rgba(101,231,113,1) 100%);
}

#enemy .current__health {
    width: 90%;
}